@model MovieShop.Core.Models.Response.MovieDetailsResponse 

@{
    ViewBag.Title = "Bought Movie";
    Layout = "_Layout";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-3">
                <img style="width: 100%" src="@Model.PosterUrl" alt="@Model.Title">
            </div>
            <div class="col">
                <div class="alert alert-success">
                    Successfully Bought @Model.Title
                </div>
                <h3>@Model.Title</h3>
                <br>
                <p>@Model.Tagline</p>
                <p>@Model.Overview</p>
                <div class="float-right">
                    <a class="btn btn-light btn-sm btn-block" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.Id">Go Back</a>
                    <button type="button" class="btn btn-light btn-sm btn-block">Watch Movie</button>
                </div>
            </div>
        </div>
    </div>
</div>