@model MovieShop.Core.Models.Response.MovieDetailsResponse
<style>
    img.width40 {
        width: 40px;
    }
    h2 {
        font-size: 16px;
    }
    p {
        font-size: 12px;
    }
    p.tag-line {
            font-size: 11px;
            color: #888;
    }
    span.grey-text {
        color:  #888;
    }
    div.header {
        position:  relative;
        height:  350px;
        background-image: url(@Model.BackdropUrl);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #000;
        color:  white;
    }
    div.header img {
        height:  350px;
    }
    div.header button.btn-outline-dark {
        color:  white;
    }
    div.header .overlay {
        position:  absolute;
        height:  350px;
        top:  0;
        left:  0;
        right:  0;
        background-color: rgba(0,0,20,.8);
    }
    div.header .col {
        z-index: 1;
    }
</style>
<div class="container-fluid">
    <div class="row header">
        <div class="overlay"></div>
        <div class="col-md-4">
            <img class="float-right img-fluid" src="@Model.PosterUrl" alt="@Model.Title">
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>@Model.Title</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p class="tag-line">
                            @Model.Tagline
                        </p>
                        <p>
                            <span class="grey-text">
                                @Model.RunTime m | @Model.ReleaseDate?.Year
                            </span>
                            @foreach (var genre in Model.Genres)
                            {
                                <span class="badge badge-dark">@genre.Name </span>
                            }
                        </p>
                        @if (Model.Rating != null)
                        {
                            <p class="badge badge-warning"> @Model.Rating</p>
                        }
                        else
                        {
                            <p class="badge badge-warning">N/A</p>
                        }
                        <p>
                            @Model.Overview
                        </p>
                    </div>
                    <div class="col-md-3">
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block">Review</button>
                        <button type="button" class="btn btn-outline-dark btn-sm btn-block">Trailer</button>
                        <button type="button" class="btn btn-light btn-sm btn-block">Buy @Model.Price</button>
                        <button type="button" class="btn btn-light btn-sm btn-block">Watch Movie</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>MOVIE FACTS</h2>
                </li>
                <li class="list-group-item">
                    <p>
                        Release Date <span class="badge badge-dark">@Model.ReleaseDate m</span>
                    </p>
                </li>
                <li class="list-group-item">
                    <p>Run Time <span class="badge badge-dark">@Model.RunTime m</span></p>
                </li>
                <li class="list-group-item">
                    <p>Box Office <span class="badge badge-dark">@Model.Revenue</span></p>
                </li>
                <li class="list-group-item">
                    <p>Budget <span class="badge badge-dark">@Model.Budget</span></p>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item">
                    <h2>Cast</h2>
                </li>
                @foreach (var cast in Model.Casts)
                {
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col">
                                <img class="rounded-circle width40" src="@cast.ProfilePath" alt="@cast.Name">
                            </div>
                            <div class="col">
                                <p>@cast.Name</p>
                            </div>
                            <div class="col">
                                <p>@cast.Character</p>
                            </div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>